ul {
  list-style: none;
  padding: 0;
  margin: 1rem auto;
  max-width: 400px;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}
